In [1]:
import numpy as np
import pandas as pd

1. Read dataset

In [2]:
data = pd.read_csv('penguins_size.csv')

2. Find out shape of data

In [4]:
data.shape

(344, 7)

3. Dataset info

In [5]:
data.info

<bound method DataFrame.info of     species     island  culmen_length_mm  culmen_depth_mm  flipper_length_mm  \
0    Adelie  Torgersen              39.1             18.7              181.0
1    Adelie  Torgersen              39.5             17.4              186.0
2    Adelie  Torgersen              40.3             18.0              195.0
3    Adelie  Torgersen               NaN              NaN                NaN
4    Adelie  Torgersen              36.7             19.3              193.0
..      ...        ...               ...              ...                ...
339  Gentoo     Biscoe               NaN              NaN                NaN
340  Gentoo     Biscoe              46.8             14.3              215.0
341  Gentoo     Biscoe              50.4             15.7              222.0
342  Gentoo     Biscoe              45.2             14.8              212.0
343  Gentoo     Biscoe              49.9             16.1              213.0

     body_mass_g     sex
0         3750.0    MALE
1         3800.0  FEMALE
2         3250.0  FEMALE
3            NaN     NaN
4         3450.0  FEMALE
..           ...     ...
339          NaN     NaN
340       4850.0  FEMALE
341       5750.0    MALE
342       5200.0  FEMALE
343       5400.0    MALE

[344 rows x 7 columns]>

4. Unique Species

In [7]:
data.species.unique()

array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)

5. Find NaN values per column

In [30]:
species_na = data.species.isna().sum()
island_na = data.island.isna().sum()
culmen_len_na = data.culmen_length_mm.isna().sum()
culmen_dep_na = data.culmen_depth_mm.isna().sum()
flipper_na = data.flipper_length_mm.isna().sum()
body_mass_na = data.body_mass_g.isna().sum()
sex_na = data.sex.isna().sum()
print(f"The NaN value counts are as follows:\n\nSpecies: {species_na}\nIsland: {island_na}\nCulmen Length (mm): {culmen_len_na}\nCulmen Depth (mm): {culmen_dep_na}\nFlipper Length (mm): {flipper_na}\nBody Mass: {body_mass_na}\nSex: {sex_na}")

The NaN value counts are as follows:

Species: 0
Island: 0
Culmen Length (mm): 2
Culmen Depth (mm): 2
Flipper Length (mm): 2
Body Mass: 2
Sex: 10

6. Find Culmen Depth (mm) in each island

In [25]:
islands = data.groupby('island')['culmen_depth_mm']
islands.groups
islands.mean()

island
Biscoe       15.874850
Dream        18.344355
Torgersen    18.429412
Name: culmen_depth_mm, dtype: float64

7. Body mass in each sex

In [6]:
body_mass_sex = data.groupby("sex")["body_mass_g"]
body_mass_sex.groups
body_mass_sex.mean()

sex
.         4875.000000
FEMALE    3862.272727
MALE      4545.684524
Name: body_mass_g, dtype: float64

8. Species in each island

In [11]:
data_island = data.groupby("island")["species"]
data_island.value_counts()

island     species
Biscoe     Gentoo       124
           Adelie        44
Dream      Chinstrap     68
           Adelie        56
Torgersen  Adelie        52
Name: count, dtype: int64

9. Share of female penguins in each species

In [27]:
data_species = data.groupby("species")["sex"]
data_species.value_counts("FEMALE")

species    sex
Adelie     FEMALE    0.500000
           MALE      0.500000
Chinstrap  FEMALE    0.500000
           MALE      0.500000
Gentoo     MALE      0.508333
           FEMALE    0.483333
           .         0.008333
Name: proportion, dtype: float64

10. Flipper length comparisons between species (min, max, mean)

In [13]:
data_flipper = data.groupby("species")["flipper_length_mm"]
mins = data_flipper.min()
maxes = data_flipper.max()
means = data_flipper.mean()
# print(f"The mins are: {mins}")
table = pd.concat([mins, maxes, means], axis = 1)
table.columns= ["min", "max", "mean"]
table

             min    max        mean
species
Adelie     172.0  210.0  189.953642
Chinstrap  178.0  212.0  195.823529
Gentoo     203.0  231.0  217.186992